<% provide(:title, t('about')) %>
<h1><%= t('about') %></h1>
<p><%= t('about_para1') %></p>
<p><%= t('about_para2') %></p>
<h2><%= t('about_head1') %></h2>
<p><%= t('about_para3') %></p>
<p><%= t('about_para4') %></p>
<p><strong><%= t('about_head2') %></strong></p>
<p>Alexandre Voyer</p>