<% provide(:title, "Help") %>
<h1><%= t('help') %></h1>
<p><%= t('help_para1') %></p>
<h2><%= t('help_head1') %></h2>
<p><%= t('help_para2') %></p>
<p><%= t('help_para3') %></p>
<h2><%= t('help_head2') %></h2>
<p><%= t('help_para4') %></p>
<h2><%= t('help_head3') %></h2>
<p><%= raw t('help_para5') %></p>