<% if user_signed_in? %>
<!--
<aside class="col-md-4">
  <section class="user_info">
    <%= render 'shared/user_info' %>
  </section>
</aside>
-->
  <h1><%= t('home_my_items') %> (<span class="item_count"><%= @items.count %></span>)</h1>
  <section class="item_add">
    <%= render 'shared/item_form' %>
    <button type="button" class="btn btn-primary btn-md btn-block btn_add_item"><%= t('home_add_item') %></button>
  </section>
  <% if @items.any? %>
  <section class="item_search">
    <%= render 'shared/item_search_form' %>
  </section>
  <% end %>
  <section class="item_list">
  <ol class="items list-group">
    <%= render @items %>
  </ol>
  <%= will_paginate @items %>
  </section>
<% else %>
<div class="center jumbotron">
  <h1><%= t('home_head1') %></h1>
  <h2><%= t('home_head2') %></h2>
  <%= link_to t('home_signup'), new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>

<% end %>