<% if user_signed_in? %>
<!--
<aside class="col-md-4">
  <section class="user_info">
    <%= render 'shared/user_info' %>
  </section>
</aside>
-->
<div class="col-md-12">
  <% if @items.any? %>
    <h1>My items (<%= @items.count %>)</h1>
    <section class="item_add">
      <%= render 'shared/item_form' %>
    </section>
    <ol class="items">
      <%= render @items %>
    </ol>
    <%= will_paginate @items %>
  <% end %>
</div>
<% else %>
<div class="center jumbotron">
  <h1>Welcome to the Government Application App</h1>

  <h2>
    This tool will hopefully make the tedious task of generating your cover letter for multiple competition a breeze.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<% end %>